.caracteristic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  @include landscape {
    @media screen and (min-width: 1400px) {
      flex-direction: row;
      max-width: 80%;
      margin: auto;
    }
  }
}
.caracteristic__content {
  display: grid;
  margin: 30px 0px;
  grid-template-rows: repeat(5, 50px);
  grid-template-columns: repeat(6, 1fr);
}
.caracteristic__description {
  background-color: burlywood;
  padding: 10px;
  z-index: 1;
  place-items: center;
  display: grid;
}
.description1 {
  border-radius: 0% 30% 50% 70%;
  grid-column: 1/4;
  grid-row: 2/4;
  @include landscape {
    @media screen and (min-width: 1400px) {
      margin: auto;
      min-height: 200px;
      max-width: 200px;
      border-radius: 50%;
      grid-column: 1/7;
      grid-row: 2/4;
    }
  }
}
.description2 {
  border-radius: 50% 0% 30% 70%;
  grid-column: 4/7;
  grid-row: 2/4;
  @include landscape {
    @media screen and (min-width: 1400px) {
      margin: auto;
      min-height: 200px;
      max-width: 200px;
      border-radius: 50%;
      grid-column: 1/7;
      grid-row: 2/4;
    }
  }
}
img.caracteristic__image {
  max-height: 200px;
  width: 100%;
  object-fit: cover;
}
.image1 {
  border-radius: 10% 0% 0% 5%;
  grid-column: 3/7;
  grid-row: 3/4;

  @include landscape {
    @media screen and (min-width: 1400px) {
      min-height: 200px;
      max-width: 200px;
      border-radius: 50%;
      grid-column: 1/4;
      grid-row: 3/4;
    }
  }
}
.image2 {
  grid-column: 1/5;
  grid-row: 3/6;
  border-radius: 0% 0% 5% 0%;
  @include landscape {
    @media screen and (min-width: 1400px) {
      min-height: 200px;
      max-width: 200px;
      border-radius: 50%;
      grid-column: 1/4;
      grid-row: 3/4;
    }
  }
}

.caracteristic__title {
  grid-column: 1/7;
  grid-row: 1/1;
  margin-bottom: 20px;
}
