.menu__liens {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(222, 184, 135, 0.7);
  font-family: "Roman SD";
  min-height: 50px;
  @include landscape {
    @media screen and (min-width: 1400px) {
      justify-content: flex-end;
      font-size: 25px;
    }
  }
}
.menu__link {
  margin: 15px;
}
.header {
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: repeat(3, 1fr);
}

.header__menu {
  z-index: 1;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.header__images {
  z-index: 0;
  grid-column: 1/4;
  grid-row-start: 1;
  grid-row-end: 4;
}
.header__image {
  @include landscape {
    @media screen and (min-width: 1400px) {
      max-height: 300px;
      object-fit: cover;
      min-width: 100%;
    }
  }
}
