.presentation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.presentation__title,
.presentation__description,
.presentation__author {
  margin: 15px;
}

.presentation__author {
  font-weight: bold;
  font-style: oblique;
}
